name: e2e-latest-rancher
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: 0 22 * * *
permissions: read-all
jobs:
  e2e-tests:
    uses: ./.github/workflows/e2e.yaml
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
