name: Lint
on:
  pull_request:
  push:
    branches: [ "main", "release-v*" ]
    tags:
      - 'v*'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - name: Analysis
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
          args: -v
          skip-cache: true

